<div *ngIf="courses.length>1; then coursesList else noCoursesList">
</div>
<ng-template #coursesList>
  List of courses
</ng-template>
<ng-template #noCoursesList>
  No courses
</ng-template>

<div *ngIf="true">Display data</div>

<p>ngIfElse example!</p> 
<div *ngIf="isLogIn; else isLogOut"> 
   Hello you are logged in 
</div>
<ng-template #isLogOut> 
   You're logged out.. 
</ng-template>

<p *ngIf="condition">  
  condition is true and ngIf is true.  
</p>  
<p *ngIf="!condition">  
  condition is false and ngIf is false.  
</p>  

<div *ngIf="condition; else elseBlock">  
  Content to render when condition is true.  
  </div>  
  <ng-template #elseBlock>  
  Content to render when condition is false.  
  </ng-template>  
